body
{
  background-color: #1E1E1E;
  color: whitesmoke;
}
.App {
  text-align: center;
  
}

.header
{
  background-color: #151515;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  display: inline-block;
}

h2
{
  background-color: #151515;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto; 
  font-weight: 400;
  
}
 a
 {
   text-decoration: none;
   color: #00CDF2;
   display: block;
 }

 h2
 {
    line-height: 0%;
 }

 ul
 {
   text-align: start;
   display: inline-block;
 }

 .all-center
 {
    text-align: initial;
    display: inline-block;
 }
 
 .nested li
 {
    font-size: 10px;
 }

 span
 {
  color: #00CDF2;
 }